body{
  font-family: 'Lato', sans-serif;
}
.products{
  background-color: #D9534F;
}
.products h3, .products p{
  color: #fff
}
.btn-pink{
  background: #D9534F;
  color: #fff;
}
footer{
  color: #fff
}